<div id="reqDetailsAcc" class="wrap">
  <!-- Requestor Details -->
  <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-serviceAccordion-header-0" aria-controls="ui-accordion-serviceAccordion-panel-0" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-minus"></span>Requestor Details</h3>
   <!-- Requestor Details -->
  
  <div class="requestor_details ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-serviceAccordion-panel-0" aria-labelledby="ui-accordion-serviceAccordion-header-0" role="tabpanel" aria-hidden="true" style="display: block;"> <!-- Requestor Details -->

<div class="requestor_details">
<input type="hidden" id="isPHHCustomer" value="false"  class="list-unstyled margin-muted">
<li class="row-field clearfix">
<div class="clearfix">
<div class="floatLeft margin-right20">
<label>Requested By</label>
<input id="requestorDetailRequestedBy" type="text" maxlength="30" size="25" name="upgradeRequestedBy" value=""> 
</div>
<div class="floatLeft margin-right20">
<label>
      Phone #
</label>
<input id="requestorDetailPhno" type="text" maxlength="14" size="25" name="upgradePhno" class=" Val-Phone " value="(123)411-2341">
</div>               
<div class="floatLeft margin-right50">
<label>Ext #</label>
<input id="requestorDetailExtNo" type="text" maxlength="8" size="10" name="upgradeExtNo" value="">
</div>
<div class="floatLeft margin-right20">
</div>
</div>
<div class="clearfix">
<div class="floatLeft margin-right20">
<label>Fax #</label>
<input id="requestorDetailFaxNo" type="text" maxlength="14" size="25" name="upgradeFaxNo" class="Val-fax" value="" readonly="readonly">
</div>
<div class="floatLeft margin-right20">
<label>Consumer Phone #</label>
<input id="requestorDetailConsumerPhNo" type="text" maxlength="14" size="25" name="upgradeConsumerPhNo" class="Val-Phone">
</div>
</div>
<div class="margin-right20">
<label>E-mail</label>
<input id="requestorDetailEmail" maxlength="250" size="60" name="upgradeEmail" value="abcd@cbcinnovis.com" readonly="readonly">
</div>
<div class="margin-right20">
<ul class="list-inline margin-muted">
</ul>
</div>
</li>
<li class="row-field clearfix checkbox" style="display:none" name="newRef">
<hr>
<div class="clearfix">
<span class="floatLeft col-50">&nbsp; </span>
<span class="floatRight col-30">
<label><input type="checkbox" id="new_reference_number_splitScreen" name="new_reference_number_splitScreen" value="ON">New Reference #</label>
</span>
</div>
</li>    
</div></div>                        </div>