<section id="inMain" class="upgrade-services-credit">
    <!-- Toolbar -->
    <div id="toolbar" class="ui-corner-bottom">
        <!-- Breadcrumb -->
        <div class="breadCrumb">
            &#155; <span class="font-bold">Upgrade Services</span>
        </div>
        <ul class="list-inline action-btns floatLeft">
            <li class="checkbox">
                <label>
                    <input type="checkbox" id="viewImmediately" value="" checked="checked" />View Immediately
                </label>
            </li>
        </ul>
        <button id="viewReport" class="ui-button ui-corner-all ui-widget btn ui-state-default ui-button-text-only" role="button" ><span class="ui-button-text">View Report</span></button>
        <button id="viewReport" class="ui-button ui-corner-all ui-widget btn ui-state-default ui-button-text-only" role="button" ><span class="ui-button-text">Billing</span></button>
        <button id="viewReport" class="ui-button ui-corner-all ui-widget btn ui-state-default ui-button-text-only" role="button" ><span class="ui-button-text">Submit</span></button>
    </div>

    <!-- Upgrade Services -->
    <div class="displayDiv">
        <!-- Client Info -->
        <div class="client-info">
            <div class="divHeader ui-widget-header ui-corner-all">Client Information</div>
            <div class="divBody clearfix">
                <ul class="list-unstyled margin-muted">
                    <li>
                        <label>Loan #:</label>
                        <span>WEB4_2017</span>
                    </li>
                    <li>
                        <label>Requested By:</label>
                        <span>vijay</span>
                    </li>
                    <li>
                        <label>Product Type:</label>
                        <span>infile</span>
                    </li>
                    <li class="clearfix">
                        <div class="floatLeft">
                            <label>Applicant:</label>
                            <span>Janelle Luacommon</span>
                        </div>
                        <div class="floatRight">
                            <label>SSN#:</label>
                            <span>123456789</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="floatLeft">
                            <label>Co-Applicant:</label>
                            <span>Christa S Jracommon</span>
                        </div>
                        <div class="floatRight">
                            <label>SSN#:</label>
                            <span>123456789</span>
                        </div>
                    </li>
                    <li>
                        <label class="font-bold">Reports odered for the Applicant:</label>
                        <span class="font-bold">Janelle Luacommon</span>
                    </li>
                    <li>
                        <button id="accHistoryBtn" class="ui-button ui-corner-all ui-widget btn floatRight ui-state-default ui-button-text-only" role="button" ><span class="ui-button-text">Show Account History</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Services Section -->
        <div class="services-section">
            <!-- Upgrade Services -->
            <div class="radio-box">
                <div class="divHeader ui-widget-header ui-corner-all">
                    <span>Upgrade Services</span>
                </div>
                <div class="divBody">
                    <ul class="list-unstyled margin-muted">
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>RMCR</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Infile</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Mortgage Only</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>CreditXpert</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Applicant Services -->
            <div class="radio-box">
                <div class="divHeader ui-widget-header ui-corner-all">
                    <span>Applicant Services</span>
                </div>
                <div class="divBody">
                    <ul class="list-unstyled margin-muted">
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Delete Applicant</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Add Applicant</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Split Report</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Other Services -->
            <div class="radio-box">
                <div class="divHeader ui-widget-header ui-corner-all">
                    <span>Other Services</span>
                </div>
                <div class="divBody">
                    <ul class="list-unstyled margin-muted">
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Delete Report</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Add/Remove Vendor</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Reference Update</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Upload Auth/Docs</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Spanish and English</span>
                            </label>
                        </li>
                        <li class="radio margin-muted">
                            <label>
                                <input type="radio" class="" id="" name="" >
                                <span>Add Comments</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>