<section id="inMain" class="upgrade-services-credit">
    <form [formGroup]="upgradeServicesCreditForm" autocomplete="off" >
    <!-- Toolbar -->
    <div id="toolbar" class="list-inline">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
            <span class="font-weight-bold">Upgrade Services</span>
        </div>
        <ul class="list-inline-item list-unstyled float-left" [ngStyle]="{'margin': '0'}">
            <li class="">
                <label>
                    <input type="checkbox" class="" />View Immediately
                </label>
            </li>
        </ul>
        <ul class="list-inline-item list-unstyled float-right" [ngStyle]="{'margin': '0'}">
                <button class="" ><span>View Report</span></button>
                <button class="" ><span>Billing</span></button>
                <button class="" ><span>Submit</span></button>
        </ul>
    </div>

    <!-- Upgrade Services -->
    <div class="displayDiv">
        <!-- Client Info -->
        <div class="client-info card bg-light mb-3">
            <div class="divHeader card-header"><span class="card-title">Client Information</span></div>
            <div class="divBody clearfix card-body">
                <ul class="list-unstyled" [ngStyle]="{'line-height': 1}" >
                    <li>
                        <label>Loan #:</label>
                        <span>&nbsp;WEB4_2017</span>
                    </li>
                    <li>
                        <label>Requested By:</label>
                        <span>&nbsp;vijay</span>
                    </li>
                    <li>
                        <label>Product Type:</label>
                        <span>&nbsp;infile</span>
                    </li>
                    <li class="clearfix">
                        <div class="float-left">
                            <label>Applicant:</label>
                            <span>&nbsp;Janelle Luacommon</span>
                        </div>
                        <div class="float-right">
                            <label>SSN#:</label>
                            <span>&nbsp;123456789</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="float-left">
                            <label>Co-Applicant:</label>
                            <span>&nbsp;Christa S Jracommon</span>
                        </div>
                        <div class="float-right">
                            <label>SSN#:</label>
                            <span>&nbsp;123456789</span>
                        </div>
                    </li>
                    <li>
                        <label class="font-weight-bold">Reports odered for the Applicant:</label>
                        <span class="">&nbsp;Janelle Luacommon</span>
                    </li>
                    <li>
                        <button id="accHistoryBtn" class="float-right" ><span class="">Show Account History</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Services Section -->
        <div class="services-section">
            <!-- Upgrade Services -->
            <div class="radio-box card bg-light mb-3">
                <div class="divHeader card-header">
                    <span class="card-title">Upgrade Services</span>
                </div>
                <div class="divBody card-body">
                    <ul class="list-unstyled">
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="rmcr" (change)="serviceSelected($event)">
                                <span>RMCR</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service"  type="radio" value="infile" (change)="serviceSelected($event)">
                                <span>Infile</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service"  type="radio" value="mortgage" (change)="serviceSelected($event)">
                                <span>Mortgage Only</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service"  type="radio" value="creditXpert" (change)="serviceSelected($event)">
                                <span>CreditXpert</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Applicant Services -->
            <div class="radio-box card bg-light mb-3">
                <div class="divHeader card-header">
                    <span class="card-title">Applicant Services</span>
                </div>
                <div class="divBody card-body">
                    <ul class="list-unstyled">
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="deleteApplicant" (change)="serviceSelected($event)" >
                                <span>Delete Applicant</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="addApplicant" (change)="serviceSelected($event)" >
                                <span>Add Applicant</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="splitReport" (change)="serviceSelected($event)" >
                                <span>Split Report</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Other Services -->
            <div class="radio-box card bg-light mb-3">
                <div class="divHeader card-header">
                    <span class="card-title">Other Services</span>
                </div>
                <div class="divBody card-body">
                    <ul class="list-unstyled">
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="deleteReport" (change)="serviceSelected($event)" >
                                <span>Delete Report</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="addRemoveVendor" (change)="serviceSelected($event)" >
                                <span>Add/Remove Vendor</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="referenceUpdate" (change)="serviceSelected($event)" >
                                <span>Reference Update</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="uploadAuthDocs" (change)="serviceSelected($event)" >
                                <span>Upload Auth/Docs</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="spanishAndEnglish" (change)="serviceSelected($event)" >
                                <span>Spanish and English</span>
                            </label>
                        </li>
                        <li class="radio">
                            <label>
                                <input formControlName="service" type="radio" value="addComments" (change)="serviceSelected($event)" >
                                <span>Add Comments</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ng-template #modal let-modal>
        <div class="modal-header">
            <h6 class="modal-title">{{modalHeader}}</h6>
            <button type="button" class="btn btn-xs" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Body
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md" (click)="modal.close('Submit click')">Submit</button>
        </div>
    </ng-template>
    </form>
</section>